# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
warnings_are_errors: false

r:
  - 3.1
  - 3.2
  - oldrel
  - release
  - devel

r_packages:
  - covr

after_success:
  - Rscript -e 'covr::codecov()'
